name: Build APK

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Say hello
        run: echo "Testing build"
      
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
      
      - name: Show Java version
        run: java -version
      
      - name: Copy files
        run: |
          cp index.html android/app/src/main/assets/
          cp manifest.json android/app/src/main/assets/
      
      - name: Build
        run: |
          cd android
          gradle wrapper --gradle-version 8.4
          ./gradlew assembleDebug
